
<section class="top-home">
	<a href="/search">
		<div class="top-home__search">
			输入书名/作者
		</div>
	</a>
	<div class="slider-banner">
		<div class="c">
			<a href="http://dushu.xiaomi.com/#page=topic&type=fiction&id=11439&_t=index.0.sld.0&&from=main">
				<img class="cover" src="http://t1.market.xiaomi.com/thumbnail/jpeg/l640/Duokan/022eeb499c82646e623567bba76a8b21ff699f9b9?" alt="">
			</a>
		</div>
	</div>
	<ul class="top-home__btn">
		<li>
			<a href="/male">
				<img class="top-home__icon" src="/static/img/male.png" alt="">
				<p class="top-home__des">男生</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<img class="top-home__icon" src="/static/img/female.png" alt="">
				<p class="top-home__des">女生</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img class="top-home__icon" src="/static/img/category.png" alt="">
				<p class="top-home__des">分类</p>
			</a>
		</li>
		<li>
			<a href="/rank">
				<img class="top-home__icon" src="/static/img/rank.png" alt="">
				<p class="top-home__des">排行</p>
			</a>
		</li>
	</ul>
</section>
